<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Firebase Example</title>
</head>
<body>
<div id="firebaseui-auth-container"></div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyD14DGuvrJwmd7tA2qYidnGziZ9B44EW2U",
    authDomain: "book-api-2b55e.firebaseapp.com",
    projectId: "book-api-2b55e",
    storageBucket: "book-api-2b55e.appspot.com",
    messagingSenderId: "117223285300",
    appId: "1:117223285300:web:7339f380bfe742e3cca061",
    measurementId: "G-1TVTT3617S"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.css" />
<script>
  const ui = new firebaseui.auth.AuthUI(firebase.auth());
  const uiConfig = {
    callbacks: {
      signInSuccessWithAuthResult(authResult, redirectUrl) {
        console.log(firebase.auth().currentUser.getIdToken())
        console.log(firebase.auth().currentUser.getIdToken())
        login(authResult.credential.idToken)
        return false;
      },
      uiShown() {
        document.getElementById('loader').style.display = 'none';
      },
    },
    signInFlow: 'popup',
    signInSuccessUrl: 'signedIn',
    signInOptions: [
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
    ],
  };
  ui.start('#firebaseui-auth-container', uiConfig);

  function login(idToken) {
    fetch("api/v1/auths/google", {
      method: 'POST',
      body: JSON.stringify({idToken: idToken}),
      headers: {'Content-Type': 'application/json'}
    }).then(response => response.json())
            .then(data => {
              console.log(data)
              // localStorage.setItem('jwtToken', data.token);
            })
            .catch(error => {
              console.error("error", error);
            });
  }
</script>
</body>
</html>